name: Renovate

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * *"

jobs:
  renovate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: renovatebot/github-action@v40.1.0
        with:
          token: ${{ github.token }}